.banner{
   background-image: url(../images/about/aboutbg2.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
}
.banner span{
   color: var(--main-color);
   font-size: 40px;
}
.banner h1{
   font-size: 40px;
   margin-top: -100px;
}
.banner h2{
   font-size: 27px;
   line-height: 30px;
   text-shadow: 1px 1px 3px #777;
}

.experience{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px;
   gap: 30px;
}
.experienceLeft, .experienceRight{
   flex: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.experienceLeft{
   flex-direction: row;
   justify-content: flex-end;
   max-width: 400px;
}
.experienceLeft span{
   position: relative;
   top: -100px;
   right: -30px;
   padding: 20px 15px;
   font-size: 18px;
   animation: coresbg 5s infinite;
}
.experienceLeft strong{
   font-size: 22px;
}
.experienceLeft img{
   width: 400px;
   border: 5px solid var(--main-color);
}
.experienceRight{
   align-items: start;
   max-width: 400px;
}
.experienceRight p{
   font-size: 15px;
   line-height: 25px;
   color: #333;
}
.detachExp{
   margin-top: 10px;
}
.exp{
   display: flex;
   padding: 5px;
}
.exp i{
   color: var(--main-color);
}
.exp p{
   font-size: 17px;
   font-weight: 600;
   color: #000;
   margin-left: 10px;
}

.creator {
   background: linear-gradient(90deg, #ccc, #f7f7f7, #e2cfa8, #f7f7f7, #ccc);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.creatorArea {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
}
.creatorLeft {
   display: flex;
   justify-content: center;
   align-items: flex-end;
   flex-direction: column;
   flex: 1;
   transition: 0.2s;
}
.creatorLeft:hover {
   transform: scale(1.02);
}
.creatorLeft .creatorName {
   font-size: 35px;
   font-weight: 700;
   text-shadow: 0px 0px 3px #000;
   padding-bottom: 3px;
   border-bottom: 1px solid #000;
   cursor: pointer;
   animation: cores 5s infinite;
}
.creatorLeft p {
   font-size: 17px;
   padding-top: 10px;
}
.creatorCenter {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   flex: 1;
}
.creatorCenter img {
   width: 300px;
   position: relative;
}
.creatorRight {
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-direction: column;
   flex: 1;
}
.creatorSkills {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px 0px;
   border-left: 1px solid #999;
   border-bottom: 1px solid #999;
   border-radius: 10px;
   padding: 5px;
   transition: 0.2s;
   cursor: pointer;
}
.creatorSkills:hover {
   transform: scale(1.02);
   transform: scaleX(1.03);
}
.creatorSkills i {
   font-size: 25px;
   margin-right: 5px;
   color: var(--main-color);
}
.creatorMedia {
   margin: 10px 0px;
   border-radius: 10px;
   transition: 0.2s;
   cursor: pointer;
}
.creatorMedia i {
   color: var(--main-color);
   font-size: 22px;
   border-bottom: 1px solid #999;
   padding: 5px;
   margin-right: 5px;
}

.purpose-sec {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding-bottom: 50px;
}
.purpose-area {
   display: flex;
   flex-direction: row;
   gap: 30px;
}
.purpose {
   display: flex;
   border: 1px solid var(--main-color);
   padding: 3px;
   background-color: #f7f7f7;
}
.purpose img {
   width: 180px;
}
.purpose-info {
   width: 180px;
   text-align: center;
   padding: 3px;
}
.purpose-info-title {
   font-size: 22px;
   font-weight: 600;
   margin-bottom: 20px;
}
.purpose-info p {
   font-size: 15px;
   line-height: 22px;
}

footer {
   background-color: #555;
   padding: 30px;
}
footer p {
   color: #ccc;
   font-size: 15px;
}
footer span {
   cursor: pointer;
}
footer span:hover {
   text-decoration: underline;
}

@media  screen and (max-width: 768px) {
   .banner{
      background-image: url(../images/about/aboutbg2-mobile.jpg);
      height: 600px;
   }
   .banner h1{
      margin-top: -190px;
      font-size: 30px;
   }
   .banner span{
      font-size: 33px;
   }
   .banner h2{
      font-size: 23px;
   }
   .experience{
      flex-direction: column;
      gap: 10px;
   }
   .experienceLeft{
      justify-content: center;
      align-items: center;
      margin-left: -50px;
   }
   .experienceLeft img{
      width: 200px;
   }
   .experienceLeft span{
      top: -50px;
      right: -20px;
      padding: 15px 10px;
      font-size: 15px;
   }
   .experienceLeft strong{
      font-size: 18px;
   }
   .experienceRight{
      justify-content: center;
      align-items: center;
      text-align: center;
   }
   .experienceRight p{
      line-height: 22px;
   }
   .creatorArea{
      flex-direction: column;
   }
   .creatorLeft p{
      text-align: center;
   }
   .creatorRight{
      align-items: center;
   }
   .creatorSkills{
      padding: 0;
      margin: 5px 0;
   }
   .purpose-area{
      flex-direction: column;
      margin: 3px;
   }
   .purpose img {
      width: 115px;
   }
   .purpose-info-title {
      font-size: 20px;
      margin-bottom: 10px;
  }
   .purpose-info p {
      font-size: 14px;
      line-height: 20px;
  }
}