.contactSec{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background: linear-gradient(to top, #e4dab9, #f0f0f0);
}
.contactArea{
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 1500px;
   border: 3px solid var(--main-color);
   padding: 5px;
}
.contactLeft img{
   width: 550px;
}
.contactLeft, .contactRight{
   flex: 1;
   background-color: #f0f0f0;
   padding: 20px 20px;
}
form{
   width: 400px;
   height: 390px;
}
.input, .descArea{
   display: flex;
   flex-direction: column;
   margin-bottom: 5px;
}
.input label{
   font-size: 15px;
}
input, textarea{
   padding: 3px;
   font-size: 17px;
}
#desc{
   width: 100%;
   height: 100px;
}
.submit{
   padding: 10px 20px;
   margin-left: 38%;
   font-size: 17px;
   border: 1px solid #000;
   background-color: var(--main-color);
   cursor: pointer;
}
.contactNav{
   color: var(--main-color);
}
.error{
   font-size: 13px;
   padding: 3px;
   color: #fff;
   background-color: #b50505;
}

.modalNone{
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   display: none;
   justify-content: center;
   align-items: center;
   text-align: center;
   background-color: rgba(0, 0, 0, 0.3);
   transition: 0.3s;
   margin-top: -150px;
}
.showModal{
   display: flex;
}
.modal{
   padding: 25px;
   border-radius: 15px;
   border: 1px solid #000;
   background-image: url(../images/goldenbg.jpg);
   background-position: center;
   background-size: cover;
}
.modal h1{
   font-size: 25px;
}
.modal h2{
   font-size: 20px;
   margin-top: 7px;
   margin-bottom: 15px;
}
.modal button{
   padding: 10px 15px;
   font-size: 18px;
   text-transform: uppercase;
   border: 1px solid #000;
   cursor: pointer;
   transition: 0.2s;
}
.confirm:hover{
   background-color: var(--main-color);
}
@media screen and (max-width: 768px){
   .contactArea{
      flex-direction: column;
      padding: 5px;
   }
   .contactLeft, .contactRight {
      width: 300px;
      align-items: center;
   }
   .contactLeft img {
      width: 100%;
   }
   .input, .descArea{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
   }
   .input input, #desc{
      width: 300px;
      align-items: center;
   }
}