.contactSec{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 100vh;
   background: url(../images/bg3.jpeg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   padding-top: 20px;
}
.contactSec h2{
   font-size: 20px;
   font-weight: 600;
   margin-top: -20px;
   margin-bottom: 20px;
   text-align: center;
}
.contactArea{
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 1500px;
   border: 3px solid var(--main-color);
   background-color: #fff;
   padding: 5px;
   margin-bottom: 20px;
}
.contactLeft img{
   width: 600px;
}
.contactLeft, .contactRight{
   flex: 1;
   padding: 20px 20px;
}
form{
   width: 400px;
   height: 390px;
}
.input, .descArea, .inputNumber{
   display: flex;
   flex-direction: column;
   margin-bottom: 5px;
}
.inputNumber{
   flex-direction: row;
   gap: 10px;
   margin: 0 auto;
}
#number{
   width: 100%;
}
.input label, .descArea label{
   font-size: 17px;
   font-weight: 600;
}
input, textarea, select{
   padding: 3px;
   font-size: 17px;
   border-width: 0 0 1px 0;
}
#desc{
   width: 100%;
   height: 100px;
}
.submit{
   padding: 10px 20px;
   margin-left: 38%;
   font-size: 17px;
   border: 1px solid #000;
   background-color: var(--main-color);
   cursor: pointer;
}
.contactNav{
   color: var(--main-color);
}
.error{
   font-size: 13px;
   padding: 3px;
   color: #fff;
   background-color: #b50505;
}

.modalNone{
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   display: none;
   justify-content: center;
   align-items: center;
   text-align: center;
   background-color: rgba(0, 0, 0, 0.3);
   transition: 0.3s;
   margin-top: -150px;
}
.showModal{
   display: flex;
}
.modal{
   padding: 25px;
   border-radius: 15px;
   border: 1px solid #000;
   background-image: url(../images/goldenbg.jpg);
   background-position: center;
   background-size: cover;
}
.modal h1{
   font-size: 25px;
}
.modal h2{
   font-size: 20px;
   margin-top: 7px;
   margin-bottom: 15px;
}
.modal button{
   padding: 10px 15px;
   font-size: 18px;
   text-transform: uppercase;
   border: 1px solid #000;
   cursor: pointer;
   transition: 0.2s;
}
.confirm:hover{
   background-color: var(--main-color);
}
@media screen and (max-width: 768px){
   .contactArea{
      flex-direction: column;
      width: 93vw;
      padding: 5px;
   }
   .contactSec{
      padding-top: 100px;
      margin-bottom: 80px;
   }
   .contactLeft, .contactRight {
      width: 300px;
      align-items: center;
   }
   .contactLeft img {
      width: 100%;
   }
   .input, .descArea, .inputNumber{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
   }
   #select{
      font-size: 15px;
      width: 50%;
   }
   .input input, #desc, .inputNumber{
      width: 90vw;
      align-items: center;
      max-height: 70px;
   }
}