.localsSecArea{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 20px;
   height: 100vh;
   background: url(../images/bg3.jpeg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}
.local{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 3px;
   border: 1px solid var(--main-color);
   background-color: #fff;
}
.local h3{
   font-size: 22px;
   text-transform: uppercase;
   margin: 3px 0;
}
.local img{
   width: 285px;
}
.localInfo{
   display: flex;
   margin: 3px 0;
}
.localInfo i{
   font-size: 20px;
   margin-right: 3px;
   color: var(--main-color);
}
.localInfo p{
   font-size: 17px;
}
@media screen and (max-width: 768px){
   .localsSecArea{
      padding-top: 100px;
      height: 100%;
      margin-bottom: 20px;
   }
   .local{
      padding: 5px;
   }
   .local img{
      width: 220px;
   }
   .localInfo{
      margin-top: 5px;
   }
   .localInfo p{
      font-size: 17px;
   }
}