.localBrasil{
   background: url(../images/locals/flags/brazil-bg.png);
}
.localEquador{
   background: url(../images/locals/flags/equador-bg.jpg);
}
.localColombia{
   background: url(../images/locals/flags/colombia-bg.jpg);
}
.localArgentina{
   background: url(../images/locals/flags/argentina-bg.jpg);
}
.localBrasil, .localEquador, .localColombia, .localArgentina{
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0 220px;
   height: 700px;
   border-bottom: 10px solid var(--main-color);
   color: #fff;
}
.local-info{
   flex: 1;
   display: flex;
   flex-direction: column;
   gap: 20px;
}
.local-info h1{
   margin-bottom: 50px;
   font-size: 60px;
   font-weight: 800;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #000;
   color: var(--main-color);
}
.local-info p{
   font-size: 20px;
}
.local-info i{
   font-size: 22px;
   color: var(--main-color);
   margin-right: 10px;
}
.local-img{
   flex: 1;
   display: flex;
   justify-content: end;
   align-items: end;
   height: 100%;
}
.local-img img{
   height: 80%;
}
@media screen and (max-width: 768px){
   .localBrasil{
      margin-top: 62px;
   }
   .localBrasil, .localEquador, .localColombia, .localArgentina{
      flex-direction: column;
      padding: 50px;
      height: 400px;
      text-align: center;
      border-bottom: 5px solid var(--main-color);
   }
   .local-info{
      gap: 5px;
   }
   .local-info h1{
      font-size: 33px;
      margin-bottom: 7px;
   }
   .local-info p{
      font-size: 14px;
   }
   .local-info i{
      font-size: 15px;
   }
   .local-img{
      align-items: center;
   }
   .local-img img{
      height: 95%;
   }
}