@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Mulish", sans-serif;
   outline: none;
}
:root{
   --main-color: #C99D45;
}
::-webkit-scrollbar{
   display: block;
   width: 10px;
}
::-webkit-scrollbar-thumb{
   background-color: #C99D45;
}
::-webkit-scrollbar-track{
   background-color: #fff;
}
@keyframes btn-animation {
   0% {
      transform: translateY(0px);
   }
   33% {
      transform: translateY(-10px) scale(1.03);
      box-shadow: 0px 10px 0px #555;
   }
   66% {
      transform: translateY(10px) scale(1.05);
      box-shadow: 0px -10px 0px #555;
   }
   100% {
      transform: translateY(0px);
   }
}
/* CLASSES MULTI USADAS*/
.active{
   color: var(--main-color);
}
.container{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   max-width: 1200px;
   margin: 0 auto;
   padding: 40px 20px;
}
.sectionTitle{
   font-size: 30px;
   text-align: center;
   margin: 30px;
}
.sectionTitle::after{
   content: '';
   display: flex;
   width: 150px;
   height: 2px;
   margin: 0 auto;
   background-color: var(--main-color);
}
.btn{
   display: block;
   font-size: 17px;
   text-transform: uppercase;
   padding: 10px 12px;
   border-radius: 7px;
   border: 1px solid #333;
   background-color: var(--main-color);
   box-shadow: 1px 1px 3px rgba(51, 51, 51, 0.5);
   cursor: pointer;
   transition: 0.2s;
}
.btn:hover{
   transform: scale(1.03);
}
.modelNone{
   display: none;
}
.linkHome{
   font-weight: bold;
   color: #000;
   text-decoration: none;
}
.linkHome:hover{
   text-decoration: underline;
}
.linkHome span{
   color: var(--main-color);
}
.scrollTop, .scrollBottom{
   visibility: hidden;
}


header{
   display: flex;
   justify-content: space-around;
   align-items: center;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 1000;
   transition: 0.3s;
}
.scrollHeader{
   background-color: rgba(255, 255, 255, 0.7);
}
.logo{
   width: 50px;
   height: 50px;
}
.logo img{
   width: inherit;
   height: inherit;
}
nav ul{
   display: flex;
   list-style: none;
   gap: 40px;
}
nav ul li, .contactNav{
   font-size: 17px;
   text-transform: uppercase;
   padding: 20px 0;
   border-bottom: 2px solid transparent;
}
nav ul li a, .contactNav{
   color: #000;
   text-decoration: none;
   transition: 0.3s;
   text-shadow: 1px 1px 1px rgba(51, 51, 51, 0.5);
}
nav ul li a:hover, .contactNav:hover{
   color: var(--main-color);
}
.mobileHeader, .navMobile{
   display: none;
}
.navMobile{
   display: flex;
   flex-direction: column;
   padding: 20px;
   position: absolute;
   top: -70vh;
   right: 0;
   background-color: #fff;
   border-left: 1px solid #555;
   border-bottom: 1px solid #555;
   list-style: none;
}
.navMobile li{
   margin-bottom: 30px;
}
.navMobile a{
   font-size: 20px;
   font-weight: 600;
   text-transform: uppercase;
   text-decoration: none;
   color: #000;
   padding: 10px 5px;
   margin-bottom: 10px;
}
.showNavMobile{
   top: 53px;
}


/* SLIDE */
.sliderArea{
   display: flex;
   height: 100vh;
   overflow: hidden;
}
.sliderImages{
   display: flex;
   height: 100%;
   transition: all ease 0.5s;
}
.sliderImg{
   width: 100vw;
   height: inherit;
   background-position: top;
   background-size: cover;
   background-repeat: no-repeat;
}
.sliderControls{
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: absolute;
   z-index: 100;
   width: 100%;
   padding: 0 20px;
}
.sliderControl{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   border: 1px solid #000;
   cursor: pointer;
   transition: 0.2s;
}
.sliderControl i{
   font-size: 22px;
   font-weight: bold;
}
.sliderControl:hover{
   color: var(--main-color);
   border: 1px solid var(--main-color);
}
.sliderTitle{
   display: flex;
   align-items: center;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 45px;
   text-shadow: 0px 0px 3px #333;
}
.sliderTitle span{
   color: var(--main-color);   
}
.sliderTitle img{
   width: 45px;
}

/* ABOUT US */
.aboutUs{
   background-color: #fff;
}
.aboutUs-area{
   flex-direction: row;
}
.aboutUs-left, .aboutUs-right{
   flex: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.aboutUs-left img{
   width: 370px;
   transition: 0.3s;
   box-shadow: 0px 5px 10px #777;
}
.aboutUs-left img:hover{
   transform: scale(1.03);
}
.aboutUs-right p{
   text-align: center;
   font-size: 18px;
   line-height: 27px;
   margin-bottom: 20px;
}

.ourTeam{
   background-color: #f0f0f0;
}
.team{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 70px;
}
.team img{
   width: 200px;
   filter: drop-shadow(0px 0px 5px #777);
   transition: 0.3s;
}
.team img:hover{
   filter: drop-shadow(0px 0px 7px var(--main-color));
}
.personModel{
   text-align: center;
}
.personName{
   font-size: 20px;
   text-align: center;
   padding: 0 5px;
   border-left: 1px solid var(--main-color);
   border-right: 1px solid var(--main-color);
}
.personLoad{
   color: #333;
}

/* HIGHLIGHTS */
.highlights{
   background-color: #fff;
}
.highlightsArea{
   flex-direction: column;
}
.highlightsDiv{
   display: flex;
   justify-content: center;
   max-width: 1200px;
   flex-wrap: wrap;
}
.highlight {
   text-align: center;
   width: 300px;
   margin: 20px;
   padding: 20px 10px;
   border-radius: 20px;
   border: 2px solid #d5d5d5;
   box-shadow: 10px 10px 20px #d5d5d5, -10px -10px 20px #fff;
   background-color: #f0f0f0;
   cursor: pointer;
   transition: 0.3s;
}
.highlight:hover {
   transform: scale(1.03);
   border: 2px solid var(--main-color);
}
.highlight i {
   font-size: 55px;
   color: var(--main-color);
}
.highlight-info h3 {
   font-size: 20px;
   padding: 5px;
}
.highlight-info p {
   font-size: 15px;
   line-height: 20px;
}


.ourProjects{
   background-color: #f0f0f0;
}
.projects{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   margin-top: 10px;
   gap: 30px;
}
.project{
   flex-direction: column;
   position: relative;
   overflow: hidden;
   text-align: center;
   border: 1px solid var(--main-color);
   box-shadow: 10px 10px 20px #d5d5d5, -10px -10px 20px #fff;
}
.project h3{
   text-transform: uppercase;
   font-size: 18px;
   padding: 3px;
}
.titleArea h3{
   font-size: 17px;
   margin-top: -10px;
   margin-bottom: 30px;
   color: #333;
}
.project img{
   display: block;
   width: 250px;
}
.projectInfo{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 0;
   overflow: hidden;
   font-weight: 600;
   padding: 0px 10px;
   background: linear-gradient(transparent, rgba(213, 213, 213, 0.8) 50%);
   transition: 0.3s;
}
.project:hover .projectInfo{
   height: 100%;
}
.projectLocal{
   font-size: 18px;
   margin-bottom: 10px;
}
.yearSizeDiv{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.projectYear, .projectSize{
   font-size: 17px;
   padding-bottom: 5px;
}
.yearSizeDiv button{
   margin-top: 10px;
}


.economizeDivision{
   display: flex;
}
.economizeLeft{
   flex: 1;
}
.economizeLeft img{
   width: 100%;
   box-shadow: 10px 10px 20px #d5d5d5;
   transition: 0.2s;
}
.economizeLeft img:hover{
   transform: scale(1.03);
}
.economizeRight{
   flex: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 20px;
}
.economizeRight p{
   font-size: 18px;
   text-align: center;
   line-height: 23px;
}
.calcArea{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px 0;
}
.calcArea label{
   font-size: 20px;
}
.calcArea input{
   width: 150px;
   font-size: 17px;
   text-align: center;
   padding: 2px;
   border-radius: 7px;
   margin: 0 5px;
}
#resultCalc{
   width: 400px;
   height: 150px;
   font-size: 18px;
   text-align: center;
   line-height: 25px;
   padding: 10px 5px;
   border: 1px solid #000;
   box-shadow: 10px 10px 20px #d5d5d5;
}
#resultCalc span{
   font-weight: 500;
}
#resultCalc span:first-child{
   font-size: 19px;
}

.contact{
   background-image: url(../images/bg.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}
.contactDivision{
   display: flex;
   gap: 30px;
}
.contactLeft, .contactCenter, .contactRight{
   flex: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
   gap: 10px;
}
.contactLeft h3, .contactRight h3{
   font-weight: 500;
   font-size: 20px;
}
.statistics{
   display: flex;
   justify-content: center;
   align-items: flex-end;
}
.statsArea{
   text-align: center;
}
.stats{
   height: 200px;
   padding: 5px 10px;
   margin-left: 5px;
   margin-right: 5px;
   font-weight: 700;
   border: 1px solid #333;
   transition: all 0.2s;
}
.stats:hover{
   transform: scaleY(1.03);
}
.stats-2020{
   background-color: #fff;
   height: 200px;
}
.stats-2021{
   background-color: #d5d5d5;
   height: 220px;
}
.stats-2022{
   background-color: #777;
   height: 230px;
}
.stats-2023{
   background-color: #a7927a;
   height: 250px;
}
.stats-2024{
   background-color: var(--main-color);
   height: 270px;
}
.contactCenter h3{
   margin-top: -20px;
   margin-bottom: 20px;
   font-weight: 500;
}
.btnContact{
   display: block;
   font-size: 20px;
   padding: 15px 20px;
   border-radius: 7px;
   border: 1px solid #333;
   background-color: var(--main-color);
   box-shadow: 1px 1px 3px rgba(51, 51, 51, 0.5);
   cursor: pointer;
   transition: 0.2s;
}
.btnContact:hover{
   animation: btn-animation 1s ease;
}
.contactRight i{
   font-size: 25px;
   margin: 0 5px;
   transition: 0.2s;
   cursor: pointer;
}
.contactRight i:hover{
   color: var(--main-color);
}

footer{
   padding: 30px;
   text-align: center;
   color: #fff;
   background-color: #333;
}
footer a{
   font-size: 15px;
   color: #fff;
}

.modalArea{
   position:fixed;
   left:0;
   top:0;
   bottom:0;
   right:0;
   display: none;
   justify-content: center;
   align-items: center;
   background-color: rgba(0, 0, 0, 0.5);
}
.showModal{
   display: flex;
}
.modal{
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-direction: column;
   gap: 20px;
   padding: 20px;
   border-radius: 20px;
   border: 1px solid #000000;
   background-color: #fff;
}
.modalTop{
   display: flex;
}
.modalLeft img{
   width: 400px;
}
.modal-ImgList{
   display: flex;
   align-items: center;
   gap: 5px;
}
.modal-ImgList i{
   font-size: 22px;
   padding: 5px;
   cursor: pointer;
}
.modal-ImgList img{
   width: 95px;
   transition: 0.2s;
   cursor: pointer;
}
.modal-ImgList img:hover{
   transform: scale(1.05);
}
.modalRight{
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   gap: 20px;
   padding: 20px;
   width: 350px;
}
.modalTitle{
   font-size: 30px;
   font-weight: 600;
   text-transform: uppercase;
}
.modalType{
   font-size: 20px;
   margin-top: 7px;
}
.modalInfo span{
   font-size: 17px;
   color: #222;
   margin-right: 5px;
}
.modalInfo p{
   margin-bottom: 10px;
   font-size: 17px;
}
.modalInfo i{
   font-size: 20px;
   margin-right: 5px;
}
.modalColors{
   display: flex;
   gap: 10px;
}
.modalColors span{
   display: block;
   width: 30px;
   height: 30px;
   margin-top: 10px;
   border-radius: 50%;
   border: 1px solid #555;
   transition: 0.2s;
}
.modalColors span:hover{
   border: 1px solid #000;
}
.closeModal{
   padding: 7px 10px;
   border-radius: 10px;
   border: 1px solid #ccc;
   background-color: #e3e3e3;
}
.closeModal:hover{
   border: 1px solid #777;
}